<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/img/icon-192.png">
    <link rel="icon" sizes="192x192" href="/img/icon-192.png">
    <meta name="apple-mobile-web-app-title" content="Shithead">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="/manifest.json" rel="manifest">

    <title>Shithead: The Game</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Wellfleet&display=swap" rel="stylesheet">
    <script src="/js/phaser.min.js"></script>
    <!--<script src="/js/shake.js"></script>-->
    <script src="/js/GameScene.js"></script>
    <script src="/js/{{gameName}}Handler.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/game.css">
</head>
<body>
    <div style="font-family:'Pacifico'; position:absolute; visibility:hidden;">.</div>
    <div style="font-family:'Wellfleet'; position:absolute; visibility:hidden;">.</div>
    <div id="game">

    </div>
    <script>
        var config = {
            type: Phaser.AUTO,
            width: Math.min(window.innerWidth, window.innerHeight * (3 / 4)),
            height: window.innerHeight,
            /*pixelArt: true,*/
            physics: {
                default: "arcade"
            },
            scene: []
        };

        var gameObject = new {{gameName}}Handler("{{playerName}}");
        config.scene.push(gameObject);

        var game = new Phaser.Game(config);

        window.onbeforeunload = () => gameObject.server.close();;
    </script>
</body>
</html>