* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Wellfleet";
}

#main-header {
    margin: 0.5em;
    font-family: "Pacifico";
}
#main-header .text-muted {
    font-size: 0.6em;
}
#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}